
/* Your CSS Code here. */
 blockquote {
    max-width: 600px;
    margin: 10px;
    padding: 15px;
    border-left: 8px solid green;
    background-color: #f8fffe; /* This sets the background color for the blockquote */
    font-weight: bold; /* This makes the text bold */
}